* {
  margin:0;
}

.container {
  width:100%;
  background-color:#F2F3F5;
}

.gridCardItems {
  padding:0 80px;
  padding-bottom: 25px;
  display:grid;
  grid-template-columns:3fr 1fr;
  gap:30px;
}

.header {
  margin-top:34px;
  display:flex;
  justify-content:space-between;
}
.header h1 {
  font-weight:300;
  font-size:35px;
  color:#707070;
  margin-bottom:6px;
}

.buttons {
  display:flex;
}

.buttonType, .buttonCreate {
  display:flex;
  justify-content:space-around;
  align-items:center;
  font-size:14px;
  font-weight:700;
  margin-left:8.5px;
  border-radius:3px;
  width:95px;
  height:38px;
  cursor:pointer;
}

.buttonType{
  background-color:#fff;
  border: 1px solid #B4B4B4;
  color:#707070;
  transition: background-color .5s;
}

.buttonType:hover {
  border:none;
  background-color:#3489B1;
  color:#fff;
}

.buttonCreate {
  background-color:#3489B1;
  color:#fff;
  transition:background-color .5s;
}

.buttonCreate:hover {
  border: 1px solid #B4B4B4;
  background-color:#fff;
  color:#707070;
}

.list {
  padding:0;
}

.listCard {
  display:flex;
  padding:11px;
  margin-bottom:10px;
  justify-content:space-between;
  align-items:center;
  background-color:#FDFDFD;
  list-style-type: none;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1),
  -1px 1px 5px 0px rgba(0,0,0,0.1);
}

.imageCard {
  display:flex;
}

.imageCard img {
  background-color:red;
  margin-right:16px;
  width:73px;
  height:73px;
}

.informationCard h3 {
  font-weight: 700;
  font-size: 16px;
  color: #707070;
}

.informationCard .event {
  background: #3489B1;
  font-weight: 700;
  font-size: 6px;
  line-height: 7px;
  padding:3px;
  color:#fff;
}

.informationCard .data {
  margin-left:5px;
  font-weight: 300;
  font-size: 9px;
  color: #707070;
}

.informationCard p {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #707070;
}

.infoItem {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #DBDBDB;;
  width: 24px;
  height: 24px;
  border-radius:50%;
  gap:1px;
  cursor:pointer;
}

.cardItemSecundary {
  display:flex;
  flex-direction: column;
  margin-top:34px;
}

.cardItemSecundary p {
  color:#707070;
  font-size:14px;
}

.cardEndomarketing {
  border: 1px solid #DCD1C0;
  width: 278px;
  height: 268px;
  padding:30px 21px;
  background-color:#FFF2DE;
  margin-bottom:17.5px;
}

.cardEndomarketing h2 {
  color:#707070;
  font-size:16px;
  font-weight:700;
  margin-bottom:12px;
}

.cardItemSecundary button {
  color:#707070;
  margin-top:58px;
  font-weight:700;
  font-size:13px;
  padding:10px 20px;
  border: 1px solid #707070;
  border-radius:5px;
  background-color:#FFF2DE;
  cursor:pointer;
}

.cardItemSecundary button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.cardManagement {
  padding:12px 8px;
  background-color:#FDFDFD;
  border-radius:5px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1),
    -1px 1px 5px 0px rgba(0,0,0,0.1);
}

.cardManagement ul {
  list-style-type: none;
  padding:0;
}

.cardManagement h2 {
  font-weight: 700;
  font-size: 16px;
  color: #707070;
}

.statement {
  background: rgba(52, 137, 177, 0.1);
}

.statement .title {
  font-weight: 400;
  font-size: 13px;
  color: #707070;
}

.containerStatement {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.infoStatement {
  display:flex;
}

.world {
  width: 16px;
  height: 16px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#fff;
}

.world img {
  width: 11px;
  height: 11px;
}

.info {
  width: 16px;
  height: 16px;
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#fff;
  border-radius:50%;
}

.info div {
  display:inline-flex;
  margin-left:1px;
  width: 3px;
  height: 3px;
  border-radius:50%;
  background: #707070;
}
